@tailwind base;
@tailwind components;
@tailwind utilities;

.aa {
  background: url("./assets/pexels-mikhail-nilov-6981411\ \(1080p\).mp4")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cc {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.001);
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #08545e;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #136772;
}
